<h2>Comments</h2>
<ul>
    {% for comment in post.comments.all %}
        <li>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.content }}</p>
            {% if request.user == comment.author %}
                <a href="{% url 'comment_edit' comment.pk %}">Edit</a>
                <a href="{% url 'comment_delete' comment.pk %}">Delete</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>

<form method="POST">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Add Comment</button>
</form>